<a href="https://colab.research.google.com/github/VidytBhudolia/UCS654/blob/main/Topsis.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
install.packages("topsis")

Installing package into ‘/usr/local/lib/R/site-library’
(as ‘lib’ is unspecified)

In [4]:
library(topsis)

In [11]:
mydata=read.csv("/content/data.csv")

In [18]:
d <- as.matrix(mydata[,-1])
w <- c(0.2,0.2,0.2,0.2,0.2)
i <- c('+','+','+','+','+')

In [20]:
topsis(d,w,i)

  alt.row score      rank
1 1       0.51381109 4
2 2       0.36448493 5
3 3       0.56450627 3
4 4       0.01866853 7
5 5       0.78462250 2
6 6       0.23362981 6
7 7       0.92714191 1